body {
	font-size: 80%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.datamaps-legend {
    left: 50px;
    top: 300px;
}

#grid tbody,thead,table,th,td,tr{
    border: 1px solid rgb(34, 34, 34); 
    border-collapse: collapse;
    padding:10px;
}

#grid thead,th {
    background: linear-gradient(to bottom, rgb(200,200,200), rgb(175,175,175));
    color: rgb(0,0,0);
    text-align: center;
}

#grid tbody,tr:nth-child(2n) {
    background-color: rgb(238,238,238); /*Table Odd Number Row Light Gray*/
}

#grid tbody,tr:nth-child(2n+1) {
    background-color: rgb(255,255,255); /*Table Even Number Row White*/	
}